
<div class="footerBg">
  <nav class="navbar navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../favicon.ico" alt="" width="240" height="200" class="d-inline-block align-text-top">
        </a>
        <span class="footer-info">
          <p>For connecting with as please Subscribe in our website!</p>
          <p>Subcriber will get latest update regarding Our App</p>
          <p>For more information stay connecting with us!</p>
          <p>Join us</p>
          <a href="" target="_blank"><img src="../../assets/images/footer-images/twitter-logo.png" alt="" width="50" height="50" class="d-inline-block align-text-top"></a>
          <a href="" target="_blank"><img src="../../assets/images/footer-images/facebook-icon.png" alt="" width="55" height="55" class="d-inline-block align-text-top"></a>
          <a href="" target="_blank"><img src="../../assets/images/footer-images/insta-logo.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top"></a>
        </span>
        
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Email Address" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Subscribe</button>
        </form>
      </div>
      <hr>
    </nav>
    <div class="bottom-part">
      © 2021 Company, Inc. All rights reserved.
  </div>
</div>