<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="signup-form">
          <h2>Sign Up</h2>
          <form (ngSubmit)="signupUser(signup)" #signup="ngForm">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required ngModel  class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Re-Enter Password:</label>
              <input type="password" id="password" name="password" required ngModel class="form-control">
            </div>
            <div class="form-group">
              <input type="radio" name="termsCondition" id="terms" required >
              <label for="terms">
                <a routerLink="">I have read all terms and conditions</a>
              </label>
            </div>
            <button type="submit">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
