<div class="col-4">
    <div id="list-example" class="list-group ">
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            1 - routerLink example
        </a>
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            2 - routerLink example
        </a>
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            3 - routerLink example
        </a>
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            4 - routerLink example
        </a>
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            5 - routerLink example
        </a>
        <a routerLink="." class="list-group-item list-group-item-action list-item-width"  fragment="items">
            6 - routerLink example
        </a>
    </div>
</div>